.navbar-items {
  height: 40px;
  clear: both;
  padding: 10px;
}

.navbar-link.hs {

  float: left;
  width: 40%;
}

.navbar-link.time {
  float: right;
  width: 40%;
  text-align: right;
}

.navbar-link a {
  text-decoration: none;
}

